.nav {
  max-width: 1440px;
  width: 100%;
  height: 220px;
  background-color: #323334;
  position: relative;
  margin: 0;
}
.nav_head {
  color: white;
  padding-top: 54px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_head input {
  all: unset;
  width: 285px;
  height: 30px;
  border: 1px solid #ff0909;
  border-radius: 5px;
}
.nav_head input::placeholder {
  color: white;
  padding: 11px 15px;
  font-weight: 500;
}
.nav_main {
  display: flex;
  justify-content: center;
}
.nav_main_ul {
  list-style-type: none;
  display: flex;
  gap: 14px;
}
.nav_main_ul li button {
  all: unset;
  padding: 6px 12px;
  border: none;
  color: white;
  background-color: #ff4343;
  border-radius: 5px;
}
.history {
  all: unset;
  color:blue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border:2px solid grey;
  border-radius:4px;
  background:whitesmoke;
  padding:4px 8px;
  position:absolute;
  top:14px;
  right:50px;
  transition:transform ease-in 2ms;
}
.cart {
  all: unset;
  position: absolute;
  right: 4px;
  top: 4px;
  max-width: 40px;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  transition: all ease-in 2ms;
}
.cart img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.cart:hover,.history:hover {
  transform: scale(1.1);
}
